body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

h1 {
    margin-top: 1%;
    margin-bottom: 0;
}

#canvas {
    width: 288px;
    height: 288px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin: 24px;

    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: stretch;
    align-items: stretch;
}

#canvas div {
    margin: 0;
    padding: 0;
    height: 18;
    width: 18;
}

#canvas div:hover {
    background-color: lightgreen;
}

#colorSelect {
    width: fit-content;
}

#black {
    background-color: black;
    color: black;
}

#white {
    background-color: white;
    color: white;
}

#red {
    background-color: red;
    color: red;
}
#green {
    background-color: green;
    color: green;
}
#blue {
    background-color: blue;
    color: blue;
}
#magenta {
    background-color: magenta;
    color: magenta;
}
#cyan {
    background-color: cyan;
    color: cyan;
}
#yellow {
    background-color: yellow;
    color: yellow;
}
